<div class="row">
	<div id="headerwrap">
		<div class="col-lg-8 col-lg-offset-2">
			<h1>D<i class="fa fa-circle"></i>G Finder</h1>
			<h2>Because No One Gets Left Behind</h2>
		</div>
	</div><!-- headerwrap -->
</div><!-- row -->

<br>

<div class="row centered w">
	<div class="col-lg-4">
		<i class="fa fa-heart"></i>
		<h4>DESIGN</h4>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
	</div><!-- col-lg-4 -->

	<div class="col-lg-4">
		<i class="fa fa-laptop"></i>
		<h4>BOOTSTRAP</h4>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
	</div><!-- col-lg-4 -->

	<div class="col-lg-4">
		<i class="fa fa-trophy"></i>
		<h4>SUPPORT</h4>
		<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even believable.</p>
	</div><!-- col-lg-4 -->
</div><!-- row -->

<br>

<!-- FEATURE SECTION -->
<div class="row centered wb">
	<div class="col-lg-12">
		<h4>WE CREATE FIRST CLASS DESIGN</h4>
		<p>By being true to the brand we represent, we elevate the audiences’ relationship to it. Like becomes love becomes a passion. Passion becomes advocacy. And we see the brand blossom from within, creating a whole story the audience embraces. That’s when the brand can truly flex its muscles.</p>
		<p><br/></p>
	</div>
	<div class="col-lg-2"></div>
	<div class="col-lg-10 col-lg-offset-1 img-responsive">
		<%= image_tag "munter.png" %>
	</div>
</div><!-- row -->



	<div id="light_gray">

			<div class="row centered">
				<h4>OUR AWESOME SPONSORS</h4>
				<div class="col-lg-2 col-lg-offset-1">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/dogfinderapp/peta_logo.png" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/dogfinderapp/home_again.png" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/dogfinderapp/humaine_society.png" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/dogfinderapp/dogs_for_life_logo.png" %>
				</div>
				<div class="col-lg-2">
					<%= image_tag "https://s3-us-west-1.amazonaws.com/dogfinderapp/aspca_logo.png" %>
				</div>
			</div><!-- row -->

	</div><!-- dg -->
	
	
	<div id="r">
		<div class="container">
			<div class="row centered">
				<div class="col-lg-8 col-lg-offset-2">
					<h4>WE ARE STORYTELLERS. BRANDS ARE OUR SUBJECTS. DESIGN IS OUR VOICE.</h4>
					<p>We believe ideas come from everyone, everywhere. At BlackTie, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design.</p>
				</div>
			</div><!-- row -->
		</div><!-- container -->
	</div><!-- r wrap -->