<h1>Edit your user profile!</h1>

<%= form_for @user do |f| %>
	<%= f.label :name %> <%= f.text_field :name %>
	<%= f.label :email %> <%= f.text_field :email %>
	<%= f.label :image %> <%= f.text_field :image %>

	<%= f.submit "Submit your changes!" %>

<% end %><br />

<%= link_to "Back to the list!", users_path %>