<div class="row">
	<div class="col-md-10">
		<h1>Edit your profile!</h1>

		<div class="row">
			<div class="col-md-10 form-group">
				<%= simple_form_for @user do |f| %>
					<%= f.input :user_name, placeholder: 'User Name', :class => "form-control" %>		
					<%= f.input :name, placeholder: 'First & Last Name', :class => "form-control" %>
					<%= f.input :email, placeholder: 'Email', :class => "form-control" %>
					<%= f.file_field :avatar, placeholder: 'Add/Update an Image' %>
					<br />
					<%= f.submit "Update Profile", :class => "btn btn-primary col-md-2" %>
				<% end %>
			</div>
		</div>
	</div>
</div>