<h1>Sign Up for an Account</h1>

<ul>
  <% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>  
  <% end %>

</ul>

<%= simple_form_for @user do |f| %>
		
		<%= f.input :user_name, placeholder: 'User Name' %>		
		<%= f.input :name, placeholder: 'First & Last Name' %>
		<%= f.input :email, placeholder: 'Email' %>
		<%= f.input :password, placeholder: 'Password' %>
		<%= f.input :password_confirmation, placeholder: 'Confirm Your Password' %>
		<div>
		<%= f.file_field :image, placeholder: 'Add an Image' %>
		</div>
		<br />
	<%= f.submit "Add User!", :class => "btn btn-primary col-md-2" %>
	<br />
	<br />

<% end %>

<%= link_to "Back to the list!", posts_path, :class => "btn btn-success" %>
