<div class="row">
	<h1 class="centered">Sign Up for an Account</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 form-group">

		<ul>
		  <% @user.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>  
		  <% end %>

		</ul>

		<%= simple_form_for @user do |f| %>
				
				<%= f.input :user_name, placeholder: 'User Name', :class => "form-control" %>		
				<%= f.input :name, placeholder: 'First & Last Name', :class => "form-control" %>
				<%= f.input :email, placeholder: 'Email', :class => "form-control" %>
				<%= f.input :password, placeholder: 'Password', :class => "form-control" %>
				<%= f.input :password_confirmation, placeholder: 'Confirm Your Password', :class => "form-control" %>
				<div>
				<%= f.file_field :image, placeholder: 'Add an Image' %>
				</div>
				<br />
			<%= f.submit "Sign Up!", :class => "btn btn-primary col-md-2" %>
			<br />
			<br />

		<% end %>
	</div>
</div>
