<div class="row">
	<h1 class="centered">Let's find your Dog!</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 form-group">

		<ul>
		  <% @post.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>  
		  <% end %>
		</ul>
		<%= simple_form_for @post do |f| %>

			<%= f.input :title, placeholder: 'Post Title', :class => "form-control" %>
			<div>
			<%= f.label :dog_breed, "Dog Breed" %><br />
			<%= f.select :dog_breed, options_from_collection_for_select(DOG_BREED, "to_s", "to_s"), :class => "form-control" %>
			</div>
			<br />
			<%= f.text_area :body, placeholder: 'Report', :class => "form-control" %>
			<br />
			<%= f.file_field :image %>
			<br />

			<%= f.submit "Let's find your pet!", :class => "btn btn-primary col-md-3" %>
		<% end %>
	</div>
</div>
