<h1>Let's find your pet, please add it to the list!</h1>

<%= simple_form_for @post do |f| %>
	<%= f.input :title, placeholder: 'Post Title' %>
	<%= f.input :pet_type, placeholder: 'Pet Type' %>
	<%= f.input :body, placeholder: 'Body' %>

	<%= f.file_field :image %>

	<%= f.label :user %>
	<%= f.collection_select :user, User.all, :id, :name %>


	<%= f.submit "Let's find your pet!", :class => 'btn btn-success' %>

<% end %>
<br />
<%= link_to "Back to the list!", posts_path %>
