<div class="row">
	<h1 class="centered">Let's find your Dog!</h1>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2 form-group">

		<ul>
		  <% @post.errors.full_messages.each do |msg| %>
		    <li><%= msg %></li>  
		  <% end %>
		</ul>
		<%= simple_form_for @post do |f| %>

			<%= f.input :title, placeholder: 'Post Title', :class => "form-control" %>
			<%= f.input :pet_type, placeholder: 'Pet Type', :class => "form-control" %>
			<%= f.text_area :body, placeholder: 'Body', :class => "form-control" %>
			<br />
			<%= f.file_field :image %>
			<br />

			<%= f.submit "Let's find your pet!", :class => "btn btn-primary col-md-3" %>
		<% end %>
	</div>
</div>
